jupyter-book
matplotlib
numpy
ghp-import
xarray
cftime
netcdf4
h5netcdf
cartopy
holoviews
hvplot
geoviews
cartopy
geopandas
movingpandas
pooch
fsspec
s3fs
jupyterlab-git
jupyterlab-myst>=2.0.0
wget
sphinx-exercise
jupytext
nbgitpuller
mystmd
